.App {
  text-align: center;
}

.App-logo {
  height: 15vmin;
  pointer-events: none;
  position: absolute;
  top: 17%;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #041a47;
  min-height: 100vh;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
}

@keyframes App-logo-spin {
  0% { left: 30%;}
  50%{ left : 60%;}
  100%{ left: 30%;}
}
